In [7]:
import pandas as pd 

data_table = pd.DataFrame({'Name':['Alice', 'Bob', 'Charlie', 'Diana'], 'Age':[23,25,22,24], 'Gender':['Female', 'Male', 'Male', 'Female'], 'Score':[85, 78, 90, 92]})
data_table['Passed'] = data_table['Score'] > 80


# Save the DataFrame from Task 1 as a CSV file named students.csv
data_table.to_csv('students.csv', index=False)


# Read the students.csv file back into a new DataFrame and display it
data = pd.read_csv("students.csv")
data.head()

      Name  Age  Gender  Score  Passed
0    Alice   23  Female     85    True
1      Bob   25    Male     78   False
2  Charlie   22    Male     90    True
3    Diana   24  Female     92    True