In [18]:
import pandas as pd 

data_table = pd.DataFrame({'Name':['Alice', 'Bob', 'Charlie', 'Diana'], 'Age':[23,25,22,24], 'Gender':['Female', 'Male', 'Male', 'Female'], 'Score':[85, 78, 90, 92]})

# # Display the first 3 rows of the DataFrame.
data_table.iloc[:3]

# # Get the column names and data types.
data_table.columns

# #Add a new column named Passed with a value of True if the Score is greater than 80, otherwise False
data_table['Passed'] = data_table['Score'] > 80

# Drop the Gender column from the DataFrame.
data_table.drop(columns=['Gender'])

      Name  Age  Score  Passed
0    Alice   23     85    True
1      Bob   25     78   False
2  Charlie   22     90    True
3    Diana   24     92    True