In [17]:
import pandas as pd 

data_table = pd.DataFrame({'Name':['Alice', 'Bob', 'Charlie', 'Diana'], 'Age':[23,25,22,24], 'Gender':['Female', 'Male', 'Male', 'Female'], 'Score':[85, 78, 90, 92]})
data_table['Passed'] = data_table['Score'] > 80

# Calculate the average age of students.
data_table.Age.mean()


# Find the maximum and minimum scores.
data_table.Score.max()
data_table.Score.min()



# Count the number of students who passed.
data_table[data_table['Passed'] == False]


# Group the data by the Passed column and calculate the average score for each group.
passed_avg_score = data_table.groupby('Passed')['Score'].mean()
print(passed_avg_score)


# Sort the DataFrame by Score in descending order.
data_table.sort_values(by='Score', ascending=False)

Passed
False    78.0
True     89.0
Name: Score, dtype: float64

      Name  Age  Gender  Score  Passed
1      Bob   25    Male     78   False
0    Alice   23  Female     85    True
2  Charlie   22    Male     90    True
3    Diana   24  Female     92    True