In [40]:
import pandas as pd

data_table = pd.DataFrame(
    {
        "Name": ["Alice", "Bob", "Charlie", "Diana"],
        "Age": [23, 25, 22, 24],
        "Gender": ["Female", "Male", "Male", "Female"],
        "Score": [85, 78, 90, 92],
    }
)

# #Select and display only the Name and Score columns.
data_table[["Name", "Score"]]

# # Filter and display rows where Score is greater than 85.
data_table[data_table["Score"] > 85]


# # Display the row for the student named "Bob" using loc.
# # data_table[data_table['Name']=='Bob']
data_table.loc[data_table.Name == "Bob"]


## Display the last 2 rows of the DataFrame.
data_table.iloc[-2:]

      Name  Age  Gender  Score
2  Charlie   22    Male     90
3    Diana   24  Female     92